<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title>Modifier</title>
		<link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
	</head>
	<body>
[navBarLogOut]
		<section class="py-5">
		<div class="container py-5">
			<div class="row mb-5">
				<div class="col-md-8 col-xl-6 text-center mx-auto">
			<h1>modification [nameEntity]</h1>
			</div>
				</div>	
			<div class="row d-flex justify-content-center">
				<div class="col-md-6 col-xl-4">
			<form name="[nameEntity]" action="${'/[nameEntity]/update/'+[nameEntity].getId()}" method="post">
            [inputs]

            <select name="[entityFk]_id" class="form-control">
                <#list list[entityFkMaj] as [entityFk]>
                    <option value="${[entityFk].id}">${[entityFk].name}</option>
                </#list>
            </select>

			<input type="submit" value="Modifier">
            </form>
				</div>
			</div>
		</div>
		</section>
	</body>
</html>