<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title>Modifier</title>
		<link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
	</head>
	<body>
[navBarLogOut]
		<section class="py-5">
        <div class="container py-5">
			   <div class="row mb-5">
				<div class="col-md-8 col-xl-6 text-center mx-auto">
			<h1>Modififier [childEntity] dans [parentEntity]</h1>
	        <a href="/person/list"><button class="btn btn-primary">Retour</button></a>
	        <br/><br/>
			</div>
				</div>
		 
        	<div class="row d-flex justify-content-center">
				<div class="col-md-6 col-xl-4">
			<form name="[childEntity]" action="/[parentEntity]/detail/[childEntity]/update" method="post">
                <input class="form-control" name="id" type="hidden" value="${[childEntity].getId()}"/>  
                [inputs]

                <p> [parentEntity]: 
                    <select name="[parentEntity]_id" class="form-control">
                        <option value="${[parentEntity].id}">${[parentEntity].[secondFieldParent]}</option>
                    </select>
                </p>
			    <input class="btn btn-primary" type="submit" value="Modifier">
            </form>
				</div>
			</div>
		</div>
		 </section>
	</body>
</html>
